spring:
  application:
    name: component-b
  datasource:
    url: jdbc:postgresql://localhost:5433/multipedidos_b
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

logging:
  level:
    org.springframework: INFO
